.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .50);

}

.customIcon {
    color: #ffc107;
}

.customIcon:hover {
    color: rgb(255, 193, 7, 0.5);
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        top: 30%;
        bottom: auto;
    }
}

@media screen and (min-width: 992px) {
    .carousel-caption {
        top: 45%;
        bottom: auto;
    }
}